<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Project{% endblock %}</title>
    <!-- Add any additional meta tags, stylesheets, or scripts here -->
</head>
<body>

<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home Page</a></li>
        <li><a href="{% url 'specList' %}">Endangered Species List</a></li>
        <li><a href="{% url 'forum' %}">Forum</a></li>
        <li><a href="{% url 'addPost' %}">Add your post</a></li>
    </ul>
</nav>

<div id="content">
    {% block content %}
    <!-- Content specific to each page will go here -->
    {% endblock %}
</div>

<footer>
    <p>&copy; 2024 Django Project "Wildlife Biodiversity Project". All rights reserved by Daniel Odoj.</p>
</footer>

<!-- Add any additional scripts or libraries here -->

</body>
</html>