{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1>Welcome to Wildlife Biodiversity Project</h1>

    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum risus sed mauris vulputate varius. Integer ac velit nulla. Curabitur lobortis ornare cursus. Nulla sed velit in lacus aliquet pellentesque. Cras laoreet tempor velit, ut placerat massa sodales sed. Proin scelerisque mattis mauris vel tempor. Curabitur congue est vitae enim venenatis ornare. Vivamus justo odio, consectetur at dignissim quis, vulputate eu erat. Aliquam finibus luctus erat, vel varius nulla faucibus non. Integer et magna tempor, elementum tellus vitae, viverra ex. Suspendisse et bibendum velit, eu tincidunt dolor. Curabitur euismod ut libero eu lacinia. Pellentesque a nisl ante. Aenean sed lobortis leo. Etiam laoreet luctus ligula auctor convallis. Nulla maximus, eros in auctor accumsan, diam lectus porttitor nunc, consequat tempus quam augue id erat.

Aenean lacus leo, porta vitae sem sit amet, maximus faucibus risus. Nullam et enim sed orci condimentum dignissim. Proin luctus massa urna, non mattis dolor viverra non. Ut malesuada pretium sem, sagittis varius felis euismod non. Cras quis venenatis diam, mattis molestie lorem. Praesent pulvinar neque vel diam vehicula, ut vehicula nibh dapibus. Donec eget magna ut orci suscipit hendrerit ac nec mauris. Nullam lectus dui, dapibus vitae neque eu, consequat egestas quam. Suspendisse sollicitudin odio elit, ut porta velit aliquet vel. Maecenas neque est, dignissim vel pulvinar a, aliquam a enim. Aenean vulputate eros quis elit gravida, ac suscipit nunc vestibulum. Fusce molestie varius bibendum. Donec tincidunt metus facilisis velit interdum scelerisque. Curabitur accumsan tortor tincidunt massa rhoncus, in suscipit velit congue. Sed ac sollicitudin tortor.

In hac habitasse platea dictumst. Nullam sollicitudin erat quam, sit amet eleifend lorem fermentum a. Vestibulum non vulputate nulla. Vivamus nunc risus, imperdiet sed euismod quis, cursus vitae orci. Donec pretium elementum justo vitae porta. Nullam dignissim dolor vitae ullamcorper tincidunt. Aenean ornare maximus sodales. Pellentesque efficitur porta varius. Nunc ligula tortor, condimentum id condimentum id, convallis et sem.
    </p>

    <div>
    <img src="{% static 'image_processing20190402-4-3ssid9.jpg' %}">
</div>

{%  endblock %}