{% extends 'base.html' %}

{% block content %}

    <h1>List of endangered animals</h1>

<ul>
    <li>
        <strong>Sumatran Orangutan</strong>
        <p>Population: 14,600</p>
        <p>Description: The Sumatran orangutan is a species of orangutan native to the island of Sumatra in Indonesia.</p>
        <p>Extinction Level: Critically Endangered</p>
    </li>

    <li>
        <strong>Amur Leopard</strong>
        <p>Population: 84</p>
        <p>Description: The Amur leopard is a leopard subspecies native to the Primorye region of southeastern Russia.</p>
        <p>Extinction Level: Critically Endangered</p>
    </li>

    <li>
        <strong>Javan Rhino</strong>
        <p>Population: 72-82</p>
        <p>Description: The Javan rhinoceros is a rare rhinoceros species native to the island of Java in Indonesia.</p>
        <p>Extinction Level: Critically Endangered</p>
    </li>

    <!-- Add more items following the same structure -->

</ul>


{%  endblock %}