<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Project{% endblock %}</title>
    <link href="{%  static 'css/base.css' %}" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
<nav class="decoration ">
    <ul class="list-group test ">
        <li class="list-group-item menu1"><a class="menu1link" href="{% url 'home' %}">Home Page</a></li>
        <li class="list-group-item menu1"><a class="menu1link" href="{% url 'specList' %}">Endangered Species List</a></li>
        <li class="list-group-item menu1"><a class="menu1link" href="{% url 'forum' %}">Forum</a></li>
        <li class="list-group-item menu1"><a class="menu1link" href="{% url 'addPost' %}">Add your post</a></li>
        <li class="list-group-item menu1"><a class="menu1link" href="{% url 'gallery' %}">Gallery</a></li>
    </ul>
</nav>

<div id="content">
<h1 class="maintitle">Wildlife Biodiversity Project {% if not user.is_authenticated %}<a class="mainlink" href="{% url 'login_view' %}">Login</a> <a class="mainlink" href="{% url 'register_view' %}">Register</a>{% endif %}{% if user.is_authenticated %}<a class="mainlink" href="{% url 'logout_view' %}">Logout</a>{% endif %}</h1>
    {% block content %}

    {% endblock %}
</div>


<footer >
    <p class="foot">&copy; 2024 Django Project "Wildlife Biodiversity Project". All rights reserved by Daniel Odoj.<a class="normlink" href="{% url 'faq' %}">Frequently Asked Questions</a></p>
</footer>

<!-- Add any additional scripts or libraries here -->
</div>
</body>
</html>