
{% extends 'base.html' %}

{% block content %}

    <h1>Conservation Forum</h1>

    <ul class="list-group">
    {% for post in forum_list %}
        <li class="list-group-item">
            <strong>Category: {{ post.topic }}</strong>
            <p>Message: {{ post.text }}</p>
            <p>Date posted:{{ post.date }}</p>
            <p>Species encountered: {{ post.species.name }}</p>
            <p>Author: {{ post.user }}</p>

            {% if post.user == request.user or request.user.is_superuser %}
                <a class="normlink" href="{%  url 'delete_post' post.pk %}">Delete</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>

{%  endblock %}