{% extends 'base.html' %}
{% load static %}
{% block content %}




    <h4 class="subtitle2">Welcome, {% if user.is_authenticated %} {{  user.username }}! {% else %}dear Stranger!</h4>{% endif %}

    {% if request.user.is_superuser %}
    <form class="smaller" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Award Badge</button>
    </form>
    {% endif %}
    <p class="hometext">
    Welcome to the Wildlife Biodiversity Project page, where our mission is to make a difference in the lives of endangered animals and contribute to the preservation of biodiversity worldwide.
<br>
In today's rapidly changing world, countless species face the threat of extinction due to habitat destruction, poaching, climate change, and other human-induced factors. At Wildlife Biodiversity Project, we recognize the urgency of this situation and are committed to taking action. Through our research, conservation efforts, and public awareness campaigns, we strive to protect and restore ecosystems, ensuring a sustainable future for all living beings.
<br>
Our team of dedicated scientists, conservationists, and volunteers works tirelessly to study endangered species and their habitats, identifying key threats and implementing effective conservation strategies. From conducting field surveys to establishing protected areas, we are actively involved in safeguarding some of the planet's most vulnerable creatures, from majestic big cats to tiny endangered insects.
<br><br>
Education and outreach are fundamental components of our work. We believe that raising awareness about the importance of biodiversity and the interconnectedness of all life forms is crucial for inspiring positive change. Through school programs, community workshops, and online resources, we empower individuals of all ages to become advocates for wildlife conservation and take meaningful action to protect our planet's precious natural heritage.
<br>
Collaboration is at the heart of everything we do. We partner with local communities, government agencies, non-profit organizations, and other stakeholders to maximize our impact and ensure the long-term success of our projects. By fostering cooperation and sharing knowledge and resources, we can achieve far greater results than we could alone.
<br>
Together, we have the power to make a difference. Join us in our efforts to safeguard endangered animals and preserve the rich tapestry of life on Earth for future generations. Together, we can create a world where all species thrive in harmony with nature. Welcome to the Wildlife Biodiversity Project – together, let's make a positive impact on the planet we call home.
    </p>

    <div class="pics1">
    <img src="{% static 'WRTSLGWUYRPP3KQLSAQMFMU3SE.jpg' %}">
    </div>

{%  endblock %}