{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h1>List of endangered animals</h1>
        {% if form %}
            <form>
                {{ form.as_p }}
                <input type="submit" value="filter">
            </form>
        {%  endif %}

        <ul class="list-group">
        {% for animal in object_list %}
            <li class="list-group-item ">
                <strong class="test">{{ animal }}</strong>
                <p>Population: {{ animal.population }}</p>
                <p>Description: {{ animal.description }}</p>
                <p>Extintion Level: {{ animal.extinction_level.name }}</p>

{#              <img src="{{ MEDIA_URL }}speciesloop/{{animal.name|urlencode }}.jpg">#}
                <img src="{% static 'media/speciesloop/'|add:animal.name|urlencode %}.jpg">

                {% if request.user.is_superuser %}
                    <a href="{% url 'alter_species' pk=animal.pk  %}">Edit</a>
                {% endif %}
            </li>
        {% endfor %}

        </ul>

{%  endblock %}